<%= render '/urls/form' %>

<div class="container">
  <ul>
    <% @urls.each do |url| %>
      <li>
        <%= link_to "unpretentio.us/#{url.uid}", "/#{url.uid}" %>
      </li>
    <% end %>
  </ul>
</div>
